footer
  .container--responsive
    .footer--content-wrap
      .left
        .copy-txt Copyright @ 2021 ICICI Inc. All rights reserved.
      .right
        ul.list-title
          li
            a(href='#') Terms & Conditions
          li 
            a(href='#') FAQs
  
