extends layout

block head
    title Title Here

block content
    section Lorem, ipsum dolor sit amet consectetur adipisicing elit. Molestias ratione beatae quos! Aut tempore laborum, delectus molestias, dolores quisquam adipisci ipsa ratione veniam rerum quo possimus enim. Iste, eius magnam.
    button.btn.theme Test